<a href="https://colab.research.google.com/github/trc2573/Gittest-another/blob/master/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd

In [6]:
import os

In [7]:
os.getcwd()

'/content'

In [8]:
cd drive

/content/drive

In [10]:
df=pd.read_csv("MyDrive/bp-age.csv")

In [11]:
df

     bp  age  weight
0   132   52     173
1   143   59     184
2   153   67     194
3   162   73     211
4   154   64     196
5   168   74     220
6   137   54     188
7   149   61     188
8   159   65     207
9   128   46     167
10  166   72     217